body {
  margin:0;
  font-family:Segoe UI;
  background:#020617;
  color:white;
}

.sidebar {
  width:220px;
  height:100vh;
  position:fixed;
  background:#020617;
  padding:20px;
}

.sidebar h2 { color:#22c55e; }

.sidebar button {
  display:block;
  margin:10px 0;
  width:100%;
  padding:10px;
  border:none;
  background:#1e293b;
  color:white;
  border-radius:10px;
  cursor:pointer;
}

.main {
  margin-left:240px;
  padding:20px;
}

.card {
  background:#1e293b;
  padding:20px;
  border-radius:15px;
  margin-bottom:20px;
}
